.App {
  margin: 0 20%;
}

.ex_input{
	margin-top: 5%;
}

div .ex_input{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	padding: 5% 5%;
}

button{
	align-items: center;
	width: 100px;
	height: 50px;
}

input,select,date{
	width: 180px;
	height: 30px;
	margin: 2% 0;
}

.ex_output{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	text-align: left;
	margin-top: 0;
}

#validText{
	margin-top: 0;
}
